# Whitelist pattern - ignore all subdirectories first
*/

# Now whitelist specific subdirectories

#i3
!i3/

#nvim
!nvim/

#polybar
!polybar/

#termite
!termite/

#rc files
!rc/

#eduroam
!eduroam/

#rofi
!rofi/

#vimium (chrome extension)
!vimium/
